[package]
name = "carbon_v3"
version = "0.1.0"

[dependencies]
starknet = ">=2.6.0"
alexandria_storage = { git = "https://github.com/keep-starknet-strange/alexandria", tag = "cairo-v2.6.0" }
alexandria_numeric = { git = "https://github.com/keep-starknet-strange/alexandria", tag = "cairo-v2.6.0" }
alexandria_merkle_tree = { git = "https://github.com/keep-starknet-strange/alexandria.git", tag="cairo-v2.6.0" }
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag = "v0.10.0" }
erc4906 = { git = "https://github.com/carbonable-labs/cairo-erc-4906" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.26.0" }

[scripts]
test = "snforge test --max-n-steps 30000000"

[[target.starknet-contract]]
sierra = true
casm = true
